{% extends "icommons_ui/base_lti.html" %}
{% load report_tags %}

{% block content %}

<div class="container" >

<form role="form" class="form-inline">
    <div class="form-group">
        <label for="enrollment_term" class="sr-only">Enrollment term</label>
        <select id="term_id" name="term_id" class="form-control" onchange="this.form.submit()">
        <option value="all">All terms</option>
        {% for t_id, t_name in terms.items %}
            <option value="{{ t_id }}" {% if request.GET.term_id == t_id %}selected="yes"{% endif %}>{{ t_name }}</option>
        {% endfor %}
        </select> 
    </div>

    <div class="form-group">
        <label for="published" class="sr-only">Published status</label>
        <select id="published" name="published" class="form-control" onchange="this.form.submit()">
            <option value="all">Both published and unpublished</option>
            <option value="true" {% if request.GET.published == 'true' %}selected="yes"{% endif %}>Only published courses</option>
            <option value="false" {% if request.GET.published == 'false' %}selected="yes"{% endif %}>Only unpublished courses</option>
        </select>
    </div>

    <div class="form-group">
        <label for="search_term" class="sr-only">Search term</label>
        <input id="search_term" name="search_term" placeholder="Search" class="form-control" value="{{ search_term }}"/>
    </div>

    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i><span class="sr-only">Search</span></button>
</form>

<table class="table table-condensed">
<thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Published</th>
        <th>Default View</th>
    </tr>
</thead>
<tbody>
{% for course in account_courses %}
    {% if course.workflow_state == 'unpublished' %}
    <tr class="warning text-muted">
    {% else %}
    <tr>
    {% endif %}
        <td>

            <a href="https://canvas.icommons.harvard.edu/courses/{{ course.id }}" target="_parent"><i class="fa fa-home"></i><span class="sr-only">homepage</span></a>

            {% if course.calendar.ics %}
                <a href="{{ course.calendar.ics }}"><i class="fa fa-calendar"></i><span class="sr-only">calendar</span></a>
            {% endif %}
        </td>
        <td>
            <code alt="{{course.sis_course_id }}" class="hu-tooltip" data-toggle="tooltip" data-html="true" title="Canvas Course ID: {{ course.id }}<br/>Course Instance ID: {{ course.sis_course_id }}">{{ course.course_code }}</code>

            {% if course.name|length > 80 %}
                <span class="hu-tooltip" data-toggle="tooltip" title="{{ course.name }}">{{ course.name|truncatechars:80 }}</span>
            {% else %}
                {{ course.name|truncatechars:80 }}
            {% endif%}

            {% if course.public_syllabus %}
            <a href="https://canvas.icommons.harvard.edu/courses/{{ course.id }}/assignments/syllabus" class="label label-success">public syllabus</a>
            {% endif %}

        </td>



        {% if course.workflow_state == 'available' %}
        <td class="text-success"><i class="fa fa-check text-success"></i><span class="sr-only">available</span></td>
        {% elif course_workflow_state == 'deleted' %}
        <td class="text-danger">{{ course.workflow_state }}</td>
        {% else %}
        <td>{{ course.workflow_state }}</td>
        {% endif %}
        <td>
            {{ course.default_view|get_view_name }}
            
        </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% if page_links %}
    <ul class="pager">
    {% if page_links.prev %}
        <li><a href="{{ self_link }}&page_link={{ page_links.prev.url|urlencode }}">Previous</a></li>
    {% else %}
        <li class="disabled"><a href="{{ self_link }}&page_link={{ page_links.prev.url|urlencode }}">Previous</a></li>
    {% endif %}
    {% if page_links.next %}
        <li><a href="{{ self_link }}&page_link={{ page_links.next.url|urlencode }}">Next</a></li>
    {% else %}
        <li class="disabled"><a href="{{ self_link }}&page_link={{ page_links.next.url|urlencode }}">Next</a></li>
    {% endif %}
    </ul>
{% endif %}

</div>





{% endblock content %}

{% block javascript %}
    {{ block.super }}

    <script type="text/javascript">
        $('.hu-tooltip').tooltip();
    </script>

{% endblock javascript %}